.table-container {
    width: 65%;
    margin: 125px auto;
}

.footer-container {
    bottom: 0;
    position: fixed;
    display: inline-block;
    width: 100%;    
    text-align: center;  
    height: 30px;  
    background-color: #053acfde;
    color: #FFFFFF;
}


.edit-button-modal-container {
    display: inline-block;
    margin-left: 8px;
}

.home-container {
    width: 20%;
    margin: 100px auto;
}

.account-container {
    margin-top: 100px;
}

.create-button-modal-container {
    display: inline-block;
}